<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>QR Code Generator</title>
        <link rel="stylesheet" href="/style.css" type="text/css" />
    </head>
    <body>
        <div class="container">
            <h2>HII</h2>
            <p class="tree">My name is <%= data.name %></p>
            <p class="scientific-name">
                I will also called <%= data.scientificName%>
            </p>
            <p class="tree-height">my height is <%= data.height %></p>
            <p class="tree-age">my age is approximately <%= data.age %></p>
        </div>
    </body>
</html>
